body {
  background-color: darkblue;
  color: yellow;
}

/* All elements width includes borders and padding*/
* {
  box-sizing: border-box;
}

/* Rows*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Classes containing "col-"*/
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Column width for small devices (i.e. smart phones)*/
[class*="col-"] {
  width: 100%;
}

/* Column width for large devices (i.e. computers)*/
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* Column width for large devices (i.e. tablets)*/
@media only screen and (min-width: 600px) {
  .col-t-1 {
    width: 8.33%;
  }
  .col-t-2 {
    width: 16.66%;
  }
  .col-t-3 {
    width: 25%;
  }
  .col-t-4 {
    width: 33.33%;
  }
  .col-t-5 {
    width: 41.66%;
  }
  .col-t-6 {
    width: 50%;
  }
  .col-t-7 {
    width: 58.33%;
  }
  .col-t-8 {
    width: 66.66%;
  }
  .col-t-9 {
    width: 75%;
  }
  .col-t-10 {
    width: 83.33%;
  }
  .col-t-11 {
    width: 91.66%;
  }
  .col-t-12 {
    width: 100%;
  }
}

/* Button */
.greenBut {
  color: darkblue;
  padding: 12px; /* Some padding */
  background-color: yellow;
  font-size: 24px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 6px; /* Rounded borders */
  margin: 10px;
}

img {
  max-width: 100%;
  margin: 10px;
}

button:hover {
  opacity: 0.5;
}
